.title {
  transform: translateY(0) scale(1);
}

.title.animate {
  animation: titleAnimation 2.5s ease-in-out forwards;
}

.main-contents {
  position: relative;
}

.main-contents.animate {
  animation: contentScaleUp 2.5s ease-in-out forwards;
}

input:focus-visible {
    outline: 2px solid white;
    outline-offset: 2px;
    background-color: rgba(255, 255, 255, 0.1);
}

@keyframes titleAnimation {
  0% {
    transform: translateY(40vh) scale(1);
  }
  50% {
    transform: translateY(30vh) scale(1.5);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes contentScaleUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  35% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}